<ion-header class="ion-no-border">
  <img src="assets/pokeball.png" />
  <ion-toolbar>
    <ion-title>Pokédex</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)">
        <ion-icon name="options-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div class="searchbar">
    <ion-searchbar
      placeholder="Buscar Pokémon"
      animated
      inputmode="text"
      mode="ios"
      [debounce]="250"
      (ionChange)="onSearchChange($event)"
    ></ion-searchbar>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
